from flask import Flask, render_template, request

app = Flask(__name__)

@app.route("/")
def home():
    return render_template("index.html")

@app.route("/proses", methods=["POST"])
def proses():
    nama = request.form["nama"]
    umur = request.form["umur"]
    sekolah = request.form["sekolah"]

    return render_template(
        "hasil.html",
        nama=nama,
        umur=umur,
        sekolah=sekolah
    )